.btn {
    background-color: black;
    color: white;
    border: none;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}

.background_image_1 {
    background-image: url('../assets/Hero-bg.png');
    text-align: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;
    padding-bottom: 44px;
    padding-top: 26px;
    background-repeat: no-repeat;
}

.second_page{
    margin-bottom: 150px;
}

.sec_p {
    text-align: center;
    margin-bottom: 40px;
}

.banner {
   display: flex;
   margin: 20px 150px 0px 140px;
   gap: 40px;
}

.c1 {
    background-color: #7fffd4;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.c2 {
    background-color: chartreuse;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.c3 {
    background-color: darkseagreen;
    padding: 10px 10px;
    margin-bottom: 10px;
}


.third_page {
    text-align: center;
    margin: 20px 150px 0px 140px;
    margin-bottom: 150px;
}

.fourth_page {
    text-align: center;
    gap: 40px;
    margin: 20px 150px 150px 140px;
}

.fourth_target {
    text-align: left;
    display: flex;
    font-size: small;
    justify-content: space-around;
    gap: 20px;
    
}   

.bg_img_2{
    background-image: linear-gradient(90.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url('../assets/handshake.jpg');
    border-radius: 16px;
    background-position: center;
    margin: 20px 150px 50px 140px;
    background-repeat: no-repeat;
}

.bg_img_2 .img2_para{ 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
} 


.footer_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px 150px 140px;
}